<div>
  <sidebar-item-section name="Tutores">
    <sidebar-item title="Todos los tutores" routerLink="/">
      <apps-icon></apps-icon>
    </sidebar-item>
    <sidebar-item title="Asignaturas" routerLink="/admin/updates">
      <ar-icon></ar-icon>
    </sidebar-item>
    <sidebar-item title="Subir material" routerLink="/admin/videos">
      <doc-icon></doc-icon>
    </sidebar-item>
  </sidebar-item-section>

  <sidebar-item-section name="Estudiantes">
    <sidebar-item title="Todos los estudiantes" routerLink="/admin/photography">
      <apps-icon></apps-icon>
    </sidebar-item>
    <sidebar-item title="Asignaturas" routerLink="/admin/graphic-design">
      <ar-icon></ar-icon>
    </sidebar-item>
    <!--sidebar-item title="Videos" routerLink="/admin/videos">
      <video-icon></video-icon>
    </sidebar-item>
    <sidebar-item title="Illustration" routerLink="/admin/illustration">
      <illustration-icon></illustration-icon>
    </sidebar-item>
    <sidebar-item title="UI/UX" routerLink="/admin/ux">
      <ux-icon></ux-icon>
    </sidebar-item>
    <sidebar-item title="3D/AR" routerLink="/admin/ar">
      <ar-icon></ar-icon>
    </sidebar-item-->
  </sidebar-item-section>
</div>
