<div>
  <div
    class="flex w-full flex-wrap items-center justify-between rounded-2xl px-12 py-6 md:flex-nowrap"
    style="
      background-color: url('https://www.transparenttextures.com/patterns/cubes.png');
      background-image: linear-gradient(
        to right top,
        #cf4af3,
        #e73bd7,
        #f631bc,
        #fd31a2,
        #ff3a8b,
        #ff4b78,
        #ff5e68,
        #ff705c,
        #ff8c51,
        #ffaa49,
        #ffc848,
        #ffe652
      );
    "
  >
    <div>
      <h3 class="m-0 flex items-center text-lg font-medium">
        <svg viewBox="0 0 512 512" class="mr-3 w-12 lg:w-8">
          <path
            d="M467 0H45C20.099 0 0 20.099 0 45v422c0 24.901 20.099 45 45 45h422c24.901 0 45-20.099 45-45V45c0-24.901-20.099-45-45-45z"
            fill="#d6355b"
            data-original="#ff468c"
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M512 45v422c0 24.901-20.099 45-45 45H256V0h211c24.901 0 45 20.099 45 45z"
            fill="#d6355b"
            data-original="#d72878"
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M467 30H45c-8.401 0-15 6.599-15 15v422c0 8.401 6.599 15 15 15h422c8.401 0 15-6.599 15-15V45c0-8.401-6.599-15-15-15z"
            fill="#2e000a"
            data-original="#700029"
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M482 45v422c0 8.401-6.599 15-15 15H256V30h211c8.401 0 15 6.599 15 15z"
            fill="#2e000a"
            data-original="#4d0e06"
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M181 391c-41.353 0-75-33.647-75-75 0-8.291 6.709-15 15-15s15 6.709 15 15c0 24.814 20.186 45 45 45s45-20.186 45-45-20.186-45-45-45c-41.353 0-75-33.647-75-75s33.647-75 75-75 75 33.647 75 75c0 8.291-6.709 15-15 15s-15-6.709-15-15c0-24.814-20.186-45-45-45s-45 20.186-45 45 20.186 45 45 45c41.353 0 75 33.647 75 75s-33.647 75-75 75z"
            fill="#d6355b"
            data-original="#ff468c"
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="M391 361h-30c-8.276 0-15-6.724-15-15V211h45c8.291 0 15-6.709 15-15s-6.709-15-15-15h-45v-45c0-8.291-6.709-15-15-15s-15 6.709-15 15v45h-15c-8.291 0-15 6.709-15 15s6.709 15 15 15h15v135c0 24.814 20.186 45 45 45h30c8.291 0 15-6.709 15-15s-6.709-15-15-15z"
            fill="#d6355b"
            data-original="#d72878"
          />
        </svg>
        {{ title }}
      </h3>
      <div class="my-4 overflow-hidden text-sm font-normal text-white">
        Grab yourself 10 free images from Adobe Stock in a 30-day free trial
        plan and find perfect image, that will help you with your new project.
      </div>
      <button class="rounded-2xl bg-blue-700 px-4 py-2">
        Start free trial
      </button>
    </div>
    <img
      class="w-24 object-cover object-center md:w-44"
      src="https://assets.codepen.io/3364143/glass.png"
      alt=""
    />
  </div>
  <div class="mb-3 mt-6 text-gray-400">Top Tutores del Mes</div>
  <div
    class="rounded-2xl p-4 font-normal"
    style="background-color: rgb(146 151 179 / 13%)"
  >
    <div class="mb-6 flex justify-end border-b border-gray-600 pb-2">
      <div class="mr-auto flex">
        <img
        alt="profil"
        src="./assets/images/default.png"
        class="mx-auto h-10 w-10 rounded-full object-cover"
      />
        Top 1
      </div>
      <div class="mx-auto flex">
        <span class="relative text-base">
          <span
            class="absolute left--2 top-1 h-2 w-2 rounded-full bg-green-400"
          ></span>
          <span class="pl-4">online</span>
        </span>
      </div>
      <div class="ml-auto flex">
        <div>
          <button
            class="rounded-full border border-gray-500 px-5 py-1 text-gray-500"
          >
            Perfil
          </button>
        </div>
      </div>
    </div>
    <div class="mb-6 flex justify-end border-b border-gray-600 pb-2">
      <div class="mr-auto flex">
        <img
        alt="profil"
        src="./assets/images/default.png"
        class="mx-auto h-10 w-10 rounded-full object-cover"
      />
        Top 2
      </div>
      <div class="mx-auto flex">
        <span class="relative text-base">
          <span
            class="absolute left--2 top-1 h-2 w-2 rounded-full bg-red-400"
          ></span>
          <span class="pl-4">Offline</span>
        </span>
      </div>
      <div class="ml-auto flex">
        <div>
          <button
            class="rounded-full border border-gray-500 px-5 py-1 text-gray-500"
          >
            Perfil
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="mr-auto flex">
        <img
        alt="profil"
        src="./assets/images/default.png"
        class="mx-auto h-10 w-10 rounded-full object-cover"
      />
        Top 3
      </div>
      <div class="mx-auto flex">
        <span class="relative text-base">
          <span
            class="absolute left--2 top-1 h-2 w-2 rounded-full bg-green-400"
          ></span>
          <span class="pl-4">Online</span>
        </span>
      </div>
      <div class="ml-auto flex">
        <div>
          <button
            class="rounded-full border border-gray-500 px-5 py-1 text-gray-500"
          >
            perfil
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 rounded-2xl" style="background: rgb(146 151 179 / 13%)">
    <div class="container mx-auto">
      <div class="py-8">
        <div class="py-4">
          <div class="max-w-full overflow-x-auto rounded-lg">
            <table class="w-full leading-normal text-white">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="border-b border-gray-200 px-5 py-3 text-left text-sm font-normal uppercase"
                  >
                    Nombre del tutor
                  </th>
                  <th
                    scope="col"
                    class="border-b border-gray-200 px-5 py-3 text-left text-sm font-normal uppercase"
                  >
                    Asignatura
                  </th>
                  <th
                    scope="col"
                    class="border-b border-gray-200 px-5 py-3 text-left text-sm font-normal uppercase"
                  >
                    Primer Día
                  </th>
                  <th
                    scope="col"
                    class="border-b border-gray-200 px-5 py-3 text-left text-sm font-normal uppercase"
                  >
                    Estado
                  </th>
                  <th
                    scope="col"
                    class="border-b border-gray-200 px-5 py-3 text-left text-sm font-normal uppercase"
                  ></th>
                </tr>
              </thead>
              <tbody class="text-white">
                <tr>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <div class="flex items-center">
                      <div class="shrink-0">
                        <a href="#" class="relative block">
                          <img
                            alt="profil"
                            src="./assets/images/coni.png"
                            class="mx-auto h-10 w-10 rounded-full object-cover"
                          />
                        </a>
                      </div>
                      <div class="ml-3">
                        <p class="whitespace-nowrap">Contanza Concha</p>
                      </div>
                    </div>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">Cálculo</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">06/08/2022</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <span
                      class="relative inline-block px-3 py-1 font-semibold leading-tight"
                    >
                      <span
                        aria-hidden="true"
                        class="absolute inset-0 rounded-full bg-green-200 opacity-50"
                      ></span>
                      <span class="relative">Activo</span>
                    </span>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <div class="flex items-center">
                      <div class="shrink-0">
                        <a href="#" class="relative block">
                          <img
                            alt="profil"
                            src="./assets/images/juancea.png"
                            class="mx-auto h-10 w-10 rounded-full object-cover"
                          />
                        </a>
                      </div>
                      <div class="ml-3">
                        <p class="whitespace-nowrap">Juan Cea</p>
                      </div>
                    </div>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">Termodinámica</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">16/04/2023</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <span
                      class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900"
                    >
                      <span
                        aria-hidden="true"
                        class="absolute inset-0 rounded-full bg-green-200 opacity-50"
                      ></span>
                      <span class="relative">Activo</span>
                    </span>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <div class="flex items-center">
                      <div class="shrink-0">
                        <a href="#" class="relative block">
                          <img
                            alt="profil"
                            src="https://res.cloudinary.com/beloved/image/upload/v1623196231/Assets/person/3_iscinv.jpg"
                            class="mx-auto h-10 w-10 rounded-full object-cover"
                          />
                        </a>
                      </div>
                      <div class="ml-3">
                        <p class="whitespace-nowrap">Belen Santibañez</p>
                      </div>
                    </div>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">Mecánica</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">02/05/2022</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <span
                      class="relative inline-block px-3 py-1 font-semibold leading-tight"
                    >
                      <span
                        aria-hidden="true"
                        class="absolute inset-0 rounded-full bg-green-200 opacity-50"
                      ></span>
                      <span class="relative">Activo</span>
                    </span>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                      Edit
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <div class="flex items-center">
                      <div class="shrink-0">
                        <a href="#" class="relative block">
                          <img
                            alt="profil"
                            src="./assets/images/felipe.png"
                            class="mx-auto h-10 w-10 rounded-full object-cover"
                          />
                        </a>
                      </div>
                      <div class="ml-3">
                        <p class="whitespace-nowrap">Felipe Correa</p>
                      </div>
                    </div>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">Programación Orientada a objetos</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <p class="whitespace-nowrap">23/06/2022</p>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <span
                      class="relative inline-block px-3 py-1 font-semibold leading-tight text-green-900"
                    >
                      <span
                        aria-hidden="true"
                        class="absolute inset-0 rounded-full bg-green-200 opacity-50"
                      ></span>
                      <span class="relative">Activo</span>
                    </span>
                  </td>
                  <td class="border-b border-gray-200 p-5 text-sm">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">
                      Edit
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="xs:flex-row xs:justify-between flex flex-col items-center p-5"
            >
              <div class="flex items-center">
                <button
                  type="button"
                  class="w-full rounded-l-xl border bg-white p-4 text-base text-gray-600 hover:bg-gray-100"
                >
                  <svg
                    width="9"
                    fill="currentColor"
                    height="8"
                    class=""
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  class="w-full border-y bg-white px-4 py-2 text-base text-indigo-500 hover:bg-gray-100"
                >
                  1
                </button>
                <button
                  type="button"
                  class="w-full border bg-white px-4 py-2 text-base text-gray-600 hover:bg-gray-100"
                >
                  2
                </button>
                <button
                  type="button"
                  class="w-full border-y bg-white px-4 py-2 text-base text-gray-600 hover:bg-gray-100"
                >
                  3
                </button>
                <button
                  type="button"
                  class="w-full border bg-white px-4 py-2 text-base text-gray-600 hover:bg-gray-100"
                >
                  4
                </button>
                <button
                  type="button"
                  class="w-full rounded-r-xl border-y border-r bg-white p-4 text-base text-gray-600 hover:bg-gray-100"
                >
                  <svg
                    width="9"
                    fill="currentColor"
                    height="8"
                    class=""
                    viewBox="0 0 1792 1792"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
