<div class="container mx-auto mt-10 p-6 bg-white rounded-lg h-full flex flex-col justify-between">
    <!-- Título Principal -->
    <h1 class="text-5xl font-bold mb-8 text-center shadow-sm">Mi perfil</h1>
    
    
      <!-- Contenedor para Imagen y Nombre -->
      <div class="flex flex-col items-center mb-8">
        <!-- Imagen de Perfil -->
        <div class="w-32 h-32 rounded-full overflow-hidden border-2 border-gray-300 mb-4">
          <img
            alt="Dave Glad"
            src="./assets/images/1.jpg"
            class="h-full w-full object-cover"
          />
        </div>
        <!-- Nombre -->
        <h2 class="text-2xl font-semibold">Nombre</h2>
      </div>
      <!-- Contenedor Principal -->
    <div class="flex justify-between">
      <!-- Contenedor de Descripción -->
      <div class="w-1/2 bg-gray-100 p-4 rounded-md">
        <h3 class="text-lg font-semibold text-black">Descripción:</h3>
        <p class="text-sm text-gray-600 mt-2">Coloca una pequeña descripción de quien eres.</p>
      </div>
  
      <!-- Contenedor de Información -->
      <div class="w-1/2 bg-gray-100 p-4 rounded-md ml-4">
        <h3 class="text-lg font-semibold text-black">Rol:</h3>
        <p class="text-sm text-gray-600 mt-2">Asignatura:</p>
        <p class="text-sm text-gray-600 mt-2">Edad:</p>
        <p class="text-sm text-gray-600 mt-2">Fono:</p>
        <p class="text-sm text-gray-600 mt-2">Hobby:</p>
      </div>
    </div>
    
    <!-- Botones de Acción -->
<div class="flex justify-between mt-8">
    <button class="px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600 mr-2">
      Editar
    </button>
    <button (click)="abrirModal()" class="px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600 mr-2">
      Crear cuenta
    </button>
    <button class="px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600">
      Eliminar cuenta
    </button>
  </div>
  
  </div>