.container {
    max-width: 1000px; /* O el ancho máximo que prefieras */
    height: auto; /* Ajusta la altura total menos el espacio ocupado por el header */
    background:transparent;
    /*backdrop-filter: blur(1px);*/
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  .container > div {
    margin-bottom: 2rem; /* Espacio entre secciones */
  }
  
  .container img {
    border-radius: 50%;
  }
  
  button {
    width: 120px;
    padding: 10px;
    text-align: center;
  }

  